/* Variables */
:root {
  --background: #efefec;
}
/* Reset */

/* Base Styles */

body {
  background-color: var(--background);
}

/* Fonts */
p,
a {
  font-size: 1.2em;
}
a {
  font-family: "Nanum Gothic", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.2em;
}
/* Mobile Styles */
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
}
.grid a {
  grid-column: 1/9;
}

.grid h5,
.grid p {
  display: none;
}
.grid a:hover img {
  transition: 500ms;
  opacity: 0;
}
.carousel-item {
  min-height: 520px;
}
.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 520px;
}
