/* Mobile Styles */
.grid {
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  grid-template-rows: min-content;
  gap: 0px;
}

.grid a {
  grid-column: 1/20;
}

.grid a:hover img {
  transition: 500ms;
  opacity: 0;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .grid a:nth-of-type(1) {
    grid-row: 1;
    grid-column: 1/7;
  }

  .grid a:nth-of-type(2) {
    grid-row: 1;
    grid-column: 7/14;
  }

  .grid a:nth-of-type(3) {
    grid-row: 1;
    grid-column: 14/20;
  }

  .grid a:nth-of-type(4) {
    grid-row: 2;
    grid-column: 1/10;
  }

  .grid a:nth-of-type(5) {
    grid-row: 2;
    grid-column: 10/20;
  }

  .grid a:nth-of-type(6) {
    grid-row: 3;
    grid-column: 1/7;
  }

  .grid a:nth-of-type(7) {
    grid-row: 3;
    grid-column: 7/14;
  }

  .grid a:nth-of-type(8) {
    grid-row: 3;
    grid-column: 14/20;
  }

  .grid a:nth-of-type(9) {
    grid-row: 4;
    grid-column: 1/9;
  }

  .grid a:nth-of-type(10) {
    grid-row: 4;
    grid-column: 9/15;
  }

  .grid a:nth-of-type(11) {
    grid-row: 4;
    grid-column: 15/20;
  }

  .grid a:nth-of-type(12) {
    grid-row: 5;
    grid-column: 1/9;
  }

  .grid a:nth-of-type(13) {
    grid-row: 5;
    grid-column: 9/20;
  }

  .grid a:nth-of-type(14) {
    grid-row: 6;
    grid-column: 1/7;
  }

  .grid a:nth-of-type(15) {
    grid-row: 6;
    grid-column: 7/15;
  }

  .grid a:nth-of-type(16) {
    grid-row: 6;
    grid-column: 15/20;
  }

  .grid a:nth-of-type(17) {
    grid-row: 7;
    grid-column: 1/8;
  }

  .grid a:nth-of-type(18) {
    grid-row: 7;
    grid-column: 8/14;
  }

  .grid a:nth-of-type(19) {
    grid-row: 7;
    grid-column: 14/20;
  }

  .grid a:nth-of-type(20) {
    grid-row: 8;
    grid-column: 1/9;
  }

  .grid a:nth-of-type(21) {
    grid-row: 8;
    grid-column: 9/15;
  }

  .grid a:nth-of-type(22) {
    grid-row: 8;
    grid-column: 15/20;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
