/* Variables */
:root {
  --background: #efefec;
}

/* Reset */
* {
    margin: 0;
    padding: 0;z
    box-sizing: border-box;
  }

/* Base Styles */
body {
    background-color: var(--background);
    overflow-x: hidden;
  }
  
/* Fonts */
p,
a {
  font-size: 1.2em;
  line-height: 1.25em;
}

a {
  font-family: "Nanum Gothic", sans-serif;
}

h2 {
  font-size: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.2em;
}